<h1 id="header">BURGERS</h1>

<div class="container">
<div class="row">

<div class="col row align-items-center" id="newBurger">
    <h2>Ready to eat</h2>

    <ul>
        {{#each burger}}
            {{#unless eaten}}
                {{> burger/burger-block eaten=true}}
            {{/unless}}
        {{/each}}
    </ul>
</div>

<div class="col row align-items-center" id="eatenList">
    <h2>They were good while they lasted</h2>

    <ul>
        {{#each burger}}
            {{#if eaten}}
                {{> burger/burger-block eaten=false}}
            {{/if}}
        {{/each}}
    </ul>
</div>

<div class="col 
row align-items-center" id="addBtn">
    <h2>Add a burger</h2>

    <form class="create-form">
        <div class="form-group">
            <label for="cb">Burger Name:</label>
            <input type="text" id="cb" name="name">
        </div>

        <button type="submit">Add Burger</button>
    </form>
</div>

<div class="container">
<div class="row">
<div class="col" style="width:100%;height:0;padding-bottom:100%;position:relative;">  
    <iframe src="https://giphy.com/embed/3oEdv5S8Th6b9gsNqM" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div>
<p><a href="https://giphy.com/gifs/laugh-dennys-diner-3oEdv5S8Th6b9gsNqM">via GIPHY</a></p>
</div>
</div>

</div>

</div>